<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Login</title>
  </head>
  <body>
    <h5
      class="position-absolute top-50 start-50 text-center translate-middle"
      id="myAlert"
    ></h5>
    <h1 class="text-center">Bejelentkezés</h1>

    <div class="mb-1">
      <label for="loginEmail" class="form-label">Email címed</label>
      <input type="email" class="form-control" id="loginEmail" />
    </div>
    <div class="mb-3">
      <label for="loginPassword" class="form-label">Jelszó</label>
      <input type="password" class="form-control" id="loginPassword" />
    </div>

    <button
      onclick="handleLogin()"
      id="handleLoginBtn"
      type="button"
      class="btn btn-primary"
    >
      Bejelentkezés
    </button>
  </body>
</html>
